:root {
	/* System greys */
	--gpSystemLightestGrey: #DCDEDF;
	--gpSystemLighterGrey: #B8BCBF;
	--gpSystemLightGrey: #8B929A;
	--gpSystemGrey: #67707B;
	--gpSystemDarkGrey: #3D4450;
	--gpSystemDarkerGrey: #23262E;
	--gpSystemDarkestGrey: #0E141B;

	/* Store blue greys */
	--gpStoreLightestGrey: #CCD8E3;
	--gpStoreLighterGrey: #A7BACC;
	--gpStoreLightGrey: #7C8EA3;
	--gpStoreGrey: #4e697d;
	--gpStoreDarkGrey: #2A475E;
	--gpStoreDarkerGrey: #1B2838;
	--gpStoreDarkestGrey: #000F18;

	/* Gradients */
	--gpGradient-StoreBackground: linear-gradient(180deg, var(--gpStoreDarkGrey) 0%, var(--gpStoreDarkerGrey) 80%);
	--gpGradient-LibraryBackground: radial-gradient(farthest-corner at 40px 40px,#3D4450 0%, #23262E 80%);

	/* Colours */
	--gpColor-Blue: #1A9FFF;
	--gpColor-BlueHi: #00BBFF;
	--gpColor-Green: #5ba32b;
	--gpColor-GreenHi: #59BF40;
	--gpColor-Orange: #E35E1C;
	--gpColor-Red: #D94126;
	--gpColor-RedHi: #EE563B;
	--gpColor-DustyBlue: #417a9b;
	--gpColor-LightBlue: #B3DFFF;
	--gpColor-Yellow: #FFC82C;
	--gpColor-ChalkyBlue: #66C0F4;

	/* Backgrounds */
	--gpBackground-LightSofter: #6998bb24;
	--gpBackground-LightSoft: #3b5a7280;
	--gpBackground-LightMedium: #678BA670;
	--gpBackground-LightHard: #93B8D480;
	--gpBackground-LightHarder: #aacce6a6;

	--gpBackground-DarkSofter: #0e141b33;
	--gpBackground-DarkSoft: #0e141b66;
	--gpBackground-DarkMedium: #0e141b99;
	--gpBackground-DarkHard: #0e141bcc;

	--gpBackground-Neutral-LightSofter: rgba(235, 246, 255, 0.10);
	--gpBackground-Neutral-LightSoft: rgba(235, 246, 255, 0.20);
	--gpBackground-Neutral-LightMedium: rgba(235, 246, 255, 0.30);
	--gpBackground-Neutral-LightHard: rgba(235, 246, 255, 0.40);
	--gpBackground-Neutral-LightHarder: rgba(235, 246, 255, 0.50);


	/* Corners */
	--gpCorner-Small: 1px;
	--gpCorner-Medium: 2px;
	--gpCorner-Large: 3px;

	/* Spacing */
	--gpSpace-Gutter: 24px;
	--gpSpace-Gap: 12px;

	/* Fixed widths */
	--gpNavWidth: 240px;
	--gpPaymentsNavWidth: 340px;
	--gpDselectWidth: 340px;
	--gpSidePanelWidth: 340px;
	--gpGiftingPanelWidth: 280px;
	--gpCommunityRightPanelWidth: 320px;
	--gpVerticalResponsivePadding-Small: calc( (100vw - 854px) / 60 );
	--gpVerticalResponsivePadding-Medium: calc( (100vw - 854px) / 20 );
	--gpVerticalResponsivePadding-Large: calc( (100vw - 854px) / 12 );

	/* Game capsule widths */
	--screen-width: 100vw;
	--gpWidth-6colcap: calc((var(--screen-width) - (5 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 6);
	--gpWidth-5colcap: calc((var(--screen-width) - (4 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 5);
	--gpWidth-4colcap: calc((var(--screen-width) - (3 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 4);
	--gpWidth-3colcap: calc((var(--screen-width) - (2 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 3);
	--gpWidth-2colcap: calc((var(--screen-width) - (1 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 2);
	--gpWidth-1colcap: calc((var(--screen-width) - (2 * var(--gpSpace-Gutter))));

    /* Fixed heights */
    --gpStoreMenuHeight: 58px;

	/* Surfaces */
	--gpShadow-Small: 0px 2px 2px 0px #0000003D;
	--gpShadow-Medium: 0px 3px 6px 0px #0000003D;
	--gpShadow-Large: 0px 12px 16px 0px #0000003D;
	--gpShadow-XLarge: 0px 24px 32px 0px #0000003D;

	/* Type styles */
	--gpText-HeadingLarge: normal 700 26px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-HeadingMedium: normal 700 22px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-HeadingSmall: normal 700 18px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-BodyLarge: normal 400 16px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-BodyMedium: normal 400 14px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-BodySmall: normal 400 12px/1.4 "Motiva Sans", Arial, Sans-serif;
}

@media screen and (min-width:  1280px) {
	:root {
		--gpSpace-Gutter: calc(24px + 2vw);
	}
}


/* Avatars */

/* Offline State */

/* Online State */

/* In-Game State */


/* Golden State */

/*
.playerAvatar.golden img,
.friend_status_golden .friend_block_avatar img,
.appHubIconHolder.golden img,
.avatar_block_status_golden img {
	background-color: #e4ca63
	background: -webkit-linear-gradient( 305deg, #d5bf6a 10%,#ffe2a9 40%,#ba995c 52%,#ba995c 61%,#d5bf6a 85%);
	background: linear-gradient( 145deg, #d5bf6a 10%,#ffe2a9 40%,#ba995c 52%,#ba995c 61%,#d5bf6a 85%);
}
*/

.persona {
	color:#898989;
}

.persona.online {
	color:#57cbde;
}

.border_color_online {
	border-color:#57cbde;
}

.miniprofile_container {
	display: flex;
	flex-direction: column;

	position: relative;
	overflow: hidden;

	width: 328px;
			font-family: "Motiva Sans", Sans-serif;
		font-weight: normal; /* normal */

		}

.miniprofile_playersection {
	position: relative;
	display: flex;
	flex-direction: row;

	z-index: 1;
	height: 62px;
	padding: 16px;
}

.miniprofile_playersection .playersection_avatar {
	width: 60px;
	height: 60px;
	background: none;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.miniprofile_playersection .playersection_avatar img {
	width: 60px;
	height: 60px;
	box-sizing: border-box;
	background: none;
}

.miniprofile_playersection .playersection_avatar_frame {
	position: absolute;
	z-index: 1;
	width: 74px;
	height: 74px;
	top: 8px;
	left: 8px;
	pointer-events: none;
}
.miniprofile_playersection .playersection_avatar_frame > img {
	width: 100%;
	height: 100%;
	background: none;
}

.miniprofile_playersection .player_content {
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding-left: 16px;

	text-shadow: 1px 1px 4px #000;
}

.miniprofile_playersection .player_content .persona {
	font-size: 20px;
}

.miniprofile_playersection .player_content .persona {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 200px;
}

.miniprofile_detailssection {
	display: flex;
	flex-direction: column;

	padding: 16px 16px 8px 16px;
}

.miniprofile_detailssection.not_in_game {
	padding-top: 24px;
}

.miniprofile_featuredcontainer {
	display: flex;
	flex-direction: row;

	height: 34px;
	padding-left: 16px;
	margin-bottom: 8px;
}

.miniprofile_featuredcontainer .badge_icon {
	width: 34px;
	height: 34px;
	position: relative;
}

.miniprofile_featuredcontainer .description {
	margin-left: 12px;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;

	font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
}

.miniprofile_featuredcontainer .description .name {
	overflow: hidden;
	text-overflow: ellipsis;
	color: #b1b1b1;
}

.miniprofile_featuredcontainer .description .xp {
	font-size: 12px;
	color: #6b6a6a;
}

.miniprofile_featuredcontainer .friendPlayerLevel {
	margin-top: 0;
}

.miniprofile_backdropblur {
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}

.miniprofile_backdrop {
	background: linear-gradient( to bottom, rgba( 24, 26, 30, .7 ) 5%, rgba( 24, 26, 30, .4 ) 95% );
}

.miniprofile_nameplatecontainer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.miniprofile_nameplate {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top right;
}

/*
 * GENERIC POPUP
 */



.friendPlayerLevel {
	display: inline-block;
	font-size: 16px;
	border-radius: 16px;
	border: solid white 2px;
	height: 28px;
	width: 28px;
	line-height: 28px;
	text-align: center;

	cursor: default;
}


.friendPlayerLevel .friendPlayerLevelNum {
	color: #e5e5e5;
}

.friendPlayerLevel.lvl_0 {
	border-color: #9b9b9b;
}

/* for labelling the close button with text, used on market */



/*
 * HEADER
 */

/* apply 16px padding to the sides of all the page-wide divs to prevent content
	from touching the sides on small resolutions */

/* make sure we override any global a styles on the site */

/* -------------- paging controls -------------*/


/* steam inbox */


/* notification box */

/* these are shown conditionally so not a big deal that they aren't in the sprite */

/* re-uses comment icon */

/* dynamic links */

/* blur capsule images for games with adult content if the user has opted out of seeing them*/

/* ugc with adult content */

/* ugc_options defines the per-ugc preferences dropdown */

/* early access tag on reviews*/

/* pre release tag on reviews*/

/* shared bbcode styles */

/* V6 */

/*
 * DYNAMIC STORE - ownership styling
 */

/* Scrollbar CSS. Move this to somewhere common before checking in thankx */

/* community awards hover */

/* community awards */

/* hover */

@media screen and (max-width: 910px)
{

	/* workaround for ios safari, having the background be position: fixed introduces display glitches */

}

	/* workaround for ios safari, having the background be position: fixed introduces display glitches */


/* China Desktop Footer */


/* For Date pickers shared between projects */

/* days that show from the previous or subsequent calendar month (eg when a month does not start on a Sunday) */



/* for dynamic store items */

/* global inline */
